#results {
    padding-top: 200px;
    text-align: center;
}
div.buttons {
    text-align: center;
}
button {
    -webkit-appearance: button;
    height: 35 px;
    width: auto;
    border: none;
    background-color: #efefef;
    color: #797979;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    display: inline-block;
    text-transform: none;
    vertical-align: middle;
}
p.rButton {
    padding-right: 23px;
}